@model  CommViewModel<RoleViewModel>
@{
    Layout = null;
}

<style>
    .layui-table tbody tr:hover {
        background-color: #5FB878;
    }

    .layui-table tbody td:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    .selected {
        background-color: #5FB878;
    }
</style>

@using (Ajax.BeginForm("DeleteList", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onDataMidff", LoadingElementId = "div_loading" }, new { id = "data_form" }))
{
    @Ajax.ActionLinkPackaging("<i class='layui-icon'>&#xe654;</i>新增角色", "Create", new { }, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "AddModalShow" }, new { @class = "layui-btn layui-btn-small", title = "添加角色", style = "margin-left:5px;" })
    <table class="layui-table">
        <colgroup>
            <col>
            <col>
            <col width="600">
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>@Html.LabelFor(model => model.ViewModel.Id)</th>
                <th>@Html.LabelFor(model => model.ViewModel.RolesName)</th>
                <th>@Html.LabelFor(model => model.ViewModel.Page)</th>
                <th>@Html.LabelFor(model => model.ViewModel.Remark)</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="data">
            @if (Model.ViewModelList != null && Model.ViewModelList.Count > 0)
            {
                foreach (var item in Model.ViewModelList)
                {
                    <tr>
                        <td><nobr>@item.Id</nobr></td>
                        <td><nobr>@item.RolesName</nobr></td>
                        <td style="padding:0px 50px;"><div title="@item.Page" style="width: 400px; word-break: keep-all; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">@item.Page</div></td>
                        <td><nobr>@item.Remark</nobr></td>
                        <td>
                            <div class="layui-btn-group">
                                @Ajax.ActionLinkPackaging("<i class='layui-icon'>&#xe640;</i>删除", "Delete", new { id = item.Id }, new AjaxOptions() { HttpMethod = "POST", OnBegin = " return confirm('确定删除[" + item.RolesName + "]角色?')", OnSuccess = "onDataMidff" }, new { @class = "layui-btn layui-btn-primary layui-btn-mini", title = "删除", data_toggle = "tooltip" })

                                @Ajax.ActionLinkPackaging("<i class='layui-icon'>&#xe642;</i>修改", "Edit", new { id = item.Id }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "AddModalShow" }, new { @class = "layui-btn layui-btn-primary layui-btn-mini", title = "修改", data_toggle = "tooltip" })
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="8">没有数据...</td></tr>
            }
        </tbody>
    </table>
}
