@model  Manage.CommViewModel<Manage.UserViewModel>
@{
    Layout = null;
}

<div class="modal-dialog" style="width:400px;">
    @Scripts.Render("~/bundles/jqueryval")
    @using (Ajax.BeginForm("EditPwd", "User", null, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "onDataMidff" }, new { @class = "form-horizontal" }))
    {
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h5>
                    修改密码
                </h5>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(model => model.ViewModel.UserID)
                <div class="layui-form-item">
                    @Html.LabelFor(model => model.ViewModel.OldPassword, new { @class = "layui-form-label" })
                    <div class="layui-input-block">
                        @Html.TextBoxFor(model => model.ViewModel.OldPassword, new { @class = "layui-input", autocomplete = "off", style = "width:200px;", type = "password" })
                        @Html.ValidationMessageFor(model => model.ViewModel.OldPassword)
                    </div>
                </div>
                <div class="layui-form-item">
                    @Html.LabelFor(model => model.ViewModel.NewPassword, new { @class = "layui-form-label" })
                    <div class="layui-input-block">
                        @Html.TextBoxFor(model => model.ViewModel.NewPassword, new { @class = "layui-input", autocomplete = "off", style = "width:200px;", type = "password" })
                        @Html.ValidationMessageFor(model => model.ViewModel.NewPassword)
                    </div>
                </div>
                <div class="layui-form-item layui-form">
                    @Html.LabelFor(model => model.ViewModel.ConfirmPassword, new { @class = "layui-form-label" })
                    <div class="layui-input-block">
                        @Html.TextBoxFor(model => model.ViewModel.ConfirmPassword, new { @class = "layui-input", autocomplete = "off", style = "width:200px;", type = "password" })
                        @Html.ValidationMessageFor(model => model.ViewModel.ConfirmPassword)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    关闭
                </button>
                <button type="submit" onclick="return CheckMenus()" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div>
    }
    <script>
        layui.use('form', function () {
            var form = layui.form();
            form.render();
        });

        $(function () {
            //select2初始化
            $("#select2-UserRole").select2({
                placeholder: '角色',
                allowClear: true,
                width: "200px",
            });
        });
    </script>
</div>
