@model Moqikaka.GameManage.UserViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap/js/1.11.3-jquery.min.js"></script>
    <script src="~/Content/layer-v3.0.3/layer/layer.js"></script>

    <title>登录</title>
    <script type="text/javascript">
        var modemsg = '@(Model==null?"":Model.Message)';

        window.onload = function () {
            if (modemsg != null && typeof (modemsg) != "undefined" && modemsg != '') {
                layer.msg(modemsg);
            }
        };

        $(function () {
            $("#pullvcode").click(function () {
                var $this = $(this);
                $this.attr("src", '@Url.Action("VCode", "Home")?_dc=' + new Date().getTime());
            });
        });

        function beforeSubmit() {
            var name = $('#UserName');
            var pass = $("#UserPwd");
            var code = $("#vcode");
            if (name.val() == "") {
                //layer.tips('请输入用户名', '#UserName');
                layer.tips('请输入用户名', '#UserName', {
                    tips: [3, '#3595CC'],
                    time: 2000
                });
                name.focus();
                return false;
            }

            if (pass.val() == "") {
                layer.tips('请输入密码', '#UserPwd', {
                    tips: [3, '#3595CC'],
                    time: 2000
                });
                pass.focus();
                return false;
            }

            if (code.val() == "") {
                layer.tips('请输入验证码', '#vcode', {
                    tips: [3, '#3595CC'],
                    time: 2000
                });
                code.focus();
                return false;
            }

            return true;
        }
    </script>
</head>

<body style="text-align: center; overflow: hidden;">
    <video class="scrollme" poster="~/Content/Image/bg.jpg" preload="auto" autoplay="autoplay" loop="loop" style="position: absolute; width: 100%;top:-100px; left: 0px; z-index: -999;"></video>
    <div class="video_mask" style="width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 1;background-color: rgba(0,0,0,0.5);z-index:-999;"></div>

    <div style="">
        <div style="position: absolute; width: 400px; left: 40%; top: 20%; ">
            <div class="media">
                <div class="media-body">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 style="color: #428bca;"><strong>摩奇卡卡游戏后台管理系统</strong></h3> </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-inline", onsubmit = "return beforeSubmit()" }))
                            {
                                @Html.HiddenFor(model => model.ReturnUrl)
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user" style="color: #428bca;"></span></div>
                                        @Html.TextBoxFor(model => model.UserName, new { placeholder = Html.DisplayNameFor(model => model.UserName).ToString(), @class = "form-control" })
                                    </div>
                                </div><br /><br />
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock" style="color: #428bca;"></span></div>
                                        @Html.TextBoxFor(model => model.UserPwd, new { placeholder = Html.DisplayNameFor(model => model.UserPwd).ToString(), @class = "form-control", type = "password" })
                                    </div>
                                </div><br /><br />
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-exclamation-sign" style="color: #428bca;"></span></div>
                                        <input type="text" maxlength="2" autocomplete="off" class="form-control" id="vcode" name="vcode" placeholder="输入计算结果">
                                    </div>
                                </div><br /><br />
                                <div class="form-group">
                                    <div class="input-group">
                                        <img id="pullvcode" style="width:100px;height:30px;border:1px solid #449cde;  cursor:pointer"
                                             alt="验证码" title="点击刷新验证码" src="@Url.Action("VCode", "Home")" />
                                    </div>
                                </div><br /><br />
                                <button type="submit" class="btn btn-primary" style="width:150px;"> &nbsp;&nbsp; 登&nbsp;录 &nbsp;&nbsp; </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

